{% extends "base.html" %}

{% block title %}Редактирование поста{% endblock %}

{% block content %}
<hr>
{% if request.user == post.user %}
{% if not ban_user %}
{% if not mute_user %}
<div class="card-container impact">
        <div class="card_1 button input">
            <h2 class="impact">РЕДАКТИРОВАНИЕ ПОСТА</h2>
            <form method="post" action="{% url 'posts:post_edit' post.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button method="post" class="button button_3">Сохранить</button>
            </form>
        </div>
</div>
{% else %}
{% include "includes/mute_info.html" %}
{% endif %}
{% else %}
{% include "includes/ban_info.html" %}
{% endif %}
{% else %}
<h2 class="impact card_1">Вы не можете редактировать этот пост.</h2>
{% endif %}
{% endblock %}