{% extends 'base.html' %}

{% block title %}Подготовка к ЕГЭ{% endblock %} 

{% block content %}
    <main>
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header impact name" style="background-color: #455A64">
                Пароль изменён
              </div>
              <div class="card-body button" style="background-color: #546E7A"> 
                <p>Пароль изменён успешно</p>
              </div> <!-- card body -->
            </div> <!-- card -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div>
    </main>
{% endblock %}